.comment-show-inner {
    width: 100%;
}

.comment-show-inner,
.comment-show-inner .comment-show-item .reply-content {
    padding-left: 70px;
}

.comment-show-inner .comment-show-item,
.comment-show-inner .comment-show-item .reply-content .reply-box {
    position: relative;
    min-height: 60px;
    margin-bottom: 15px;
}

.comment-show-inner .item-box .head,
.comment-show-inner .comment-show-item .reply-content .reply-box .head {
    position: absolute;
    top: 0;
    right: 100%;
    width: 70px;
    height: 60px;
}

.comment-show-inner .item-box .head img,
.comment-show-inner .comment-show-item .reply-content .reply-box .head img {
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}

.comment-show-inner .item-box .head img:hover,
.comment-show-inner .comment-show-item .reply-content .reply-box .head img:hover {
    border: 1px solid rgba(0,0,0,1);
    transform: rotate(360deg);
}

/* 用户名 */
.comment-show-inner .item-box .username,
.comment-show-inner .comment-show-item .reply-content .reply-box .username {
    font-size: 20px;
    font-weight: bold;
}

/* 时间 */
.comment-show-inner .item-box .time,
.comment-show-inner .comment-show-item .reply-content .reply-box .time{
    font-weight: bold;
    color: #6e0832;
    float: right;
    margin-top: 5px;
}

.h10 {
    height: 10px;
}

/* 内容 */
.comment-show-inner p.content,
.comment-show-inner .comment-show-item .reply-content .reply-box p.content {
    font-size: 18px;
    font-weight: 500;
}

/* 评论按钮 */
.comment-show-inner .comment-show-item .comment-btn-box {
    margin: 10px 0;
    padding: 5px 0;
    background: rgba(0,0,0,.6);
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
}

.comment-show-inner .comment-show-item .comment-btn-box button.reply-btn {
    margin-right: 10px;
    padding: 3px 5px;
    border: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    color: #fff;
    font-weight: bold;
    background: transparent;
    outline: none;
    transition: .5s ease;
    z-index: 9999;
}

.comment-show-inner .comment-show-item .comment-btn-box button.reply-btn > .reply-num {
    color: #f0c688;
    padding: 0 2px;
}

.comment-show-inner .comment-show-item .comment-btn-box button.reply-btn:hover {
    border-top: 1px dotted #ffffff;
    border-bottom: 1px dotted #ffffff;
    color: orangered;
}

@media screen and (max-width: 1000px) {
    .comment-show-inner,
    .comment-show-inner .comment-show-item .reply-content {
        padding-left: 0;
    }

    .comment-show-inner .item-box {
        position: relative;
    }

    .comment-show-inner .item-box .head,
    .comment-show-inner .comment-show-item .reply-content .reply-box .head {
        position: relative;
        right: 0;
        margin: 0 auto;
    }
}